@import url("./reset.css");
@import url("../font/iconfont.css");

body {
	min-width: 1100px;
	/*background-color: #000;*/
	color: #fff;
}
.main {
	padding: 10px;
	position: relative;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix:after, .clearfix:before {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.pad10 {
	padding: 10px!important;
}
.padt5 {
	padding-top: 10px!important;
}
.padt10 {
	padding-top: 10px!important;
}
.padt15 {
	padding-top: 15px!important;
}
.margt5 {
	margin-top: 5px!important;
}
.margt10 {
	margin-top: 10px!important;
}
.margt15 {
	margin-top: 15px!important;
}